/* [Tip]: The Base layer contains the foundational,
global styles that apply across the entire project.

@layer base {
  h1 {}
}
 */
@tailwind base;

/* [Tip]: Styling reusable UI components

@layer components {
  .btn {}
}
*/
@tailwind components;

/* [Tip]: It provides low-level utility classes that you can mix and match
to build any design without needing to write custom CSS.

@layer utilities {
  .text-shadow {}
}
*/
@tailwind utilities;

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: none;
  }
}

@layer utilities {
  .grid-3-columns {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3
  }

  .bottom-left {
    @apply bottom-0 left-0
  }

  .profile-container-border {
    border-radius: 43% 57% 42% 58% / 49% 39% 61% 51%;
  }

  .feature-gap {
    @apply gap-24 lg:gap-30
  }

  .feature-pt {
    @apply pt-24 lg:pt-30
  }

  .feature-pb {
    @apply pb-24 lg:pb-30
  }

  .feature-py {
    @apply feature-pt feature-pb transition-padding
  }

  .section-gap {
    @apply gap-18 lg:gap-24
  }

  .section-px {
    @apply px-4 lg:px-0 transition-padding
  }

  .section-pt {
    @apply pt-18 lg:pt-24
  }

  .section-pb {
    @apply pb-18 lg:pb-24
  }

  .section-py {
    @apply section-pt section-pb transition-padding
  }

  .content-mt {
    @apply mt-6
  }

  .content-p {
    @apply p-6
  }

  .content-py {
    @apply py-6
  }

  .content-gap {
    @apply gap-6
  }

  .content-gap-y {
    @apply gap-y-6
  }

  .container-layout {
    @apply lg:container mx-auto transition-max-width;
  }

  .button-link-text {
    @apply py-2 px-4 border-2 rounded-normal font-semibold
    hover:cursor-pointer;
  }

  .button-link-icon-text {
    @apply button-link-text flex gap-2 items-center
  }

  .rounded-small-1 {
    @apply rounded-lg
  }

  .rounded-r-small-1 {
    @apply rounded-r-lg
  }

  .rounded-tl-small-1 {
    @apply rounded-tl-lg
  }

  .rounded-normal {
    @apply rounded-xl
  }

  .rounded-r-normal {
    @apply rounded-r-xl
  }

  .rounded-tl-normal {
    @apply rounded-tl-xl
  }

  .rounded-big-1 {
    @apply rounded-2xl
  }

  .text-small-2 {
    @apply text-xs lg:text-sm transition-font-size
  }

  .text-small-1 {
    @apply text-sm lg:text-base transition-font-size
  }

  .text-normal {
    @apply text-base lg:text-lg transition-font-size
  }

  .text-big-1 {
    @apply text-lg lg:text-xl transition-font-size
  }

  .text-big-2 {
    @apply text-xl lg:text-2xl transition-font-size
  }

  .text-big-3 {
    @apply text-3xl lg:text-4xl transition-font-size
  }

  .text-big-4 {
    @apply text-5xl lg:text-6xl transition-font-size
  }

  .text-h4 {
    @apply text-big-1 font-bold
  }

  .text-h3 {
    @apply text-big-2 font-bold
  }

  .text-h2 {
    @apply text-big-3 font-bold
  }

  .text-h1 {
    @apply text-big-4 font-bold
  }

  .w-small-2 {
    @apply w-3 lg:w-4 transition-width
  }

  .w-small-1 {
    @apply w-4 lg:w-5 transition-width
  }

  .w-normal {
    @apply w-5 lg:w-6 transition-width
  }

  .w-big-1 {
    @apply w-6 lg:w-7 transition-width
  }

  .w-big-2 {
    @apply w-7 lg:w-8 transition-width
  }

  .h-small-2 {
    @apply h-3 lg:h-4 transition-height
  }

  .h-small-1 {
    @apply h-4 lg:h-5 transition-height
  }

  .h-normal {
    @apply h-5 lg:h-6 transition-height
  }

  .h-big-1 {
    @apply h-6 lg:h-7 transition-width
  }

  .h-big-2 {
    @apply h-7 lg:h-8 transition-width
  }

  .wh-small-2 {
    @apply w-small-2 h-small-2
  }

  .wh-small-1 {
    @apply w-small-1 h-small-1
  }

  .wh-normal {
    @apply w-normal h-normal
  }

  .wh-big-1 {
    @apply w-big-1 h-big-1
  }

  .wh-big-2 {
    @apply w-big-2 h-big-2
  }

  .has-focus-within-input-outline {
    @apply outline outline-1 has-[input:focus-within]:outline-2
    has-[input:focus-within]:outline-offset-1
  }
}