/* [Tip]: The Base layer contains the foundational,
global styles that apply across the entire project.

@layer base {
  h1 {}
}
 */
@tailwind base;

/* [Tip]: Styling reusable UI components

@layer components {
  .btn {}
}
*/
@tailwind components;

/* [Tip]: It provides low-level utility classes that you can mix and match
to build any design without needing to write custom CSS.

@layer utilities {
  .text-shadow {}
}
*/
@tailwind utilities;

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: none;
  }
}

@layer utilities {
  .bottom-left {
    @apply bottom-0 left-0
  }

  .section-px {
    @apply px-4
  }

  .section-py {
    @apply py-20 lg:py-24
  }

  .container-layout {
    @apply lg:container mx-auto section-px transition-box-model;
  }

  .button-link-text {
    @apply py-2 px-6 border-2 rounded-xl font-semibold hover:cursor-pointer;
  }

  .button-link-icon-text {
    @apply button-link-text flex gap-2 items-center
  }
}